#btnDashboard, #btnUsuarios, #btnClientes, #btnSolicitud, #btnHistorial{
    -fx-background-color: darkblue;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;

}

.estilosEtiqueta{
    -fx-text-fill: darkblue;
}

.linear-grad{
  -fx-background-color: linear-gradient(to bottom left, #6F4CBB, #431FA0);
}

.btnIniciar{
  -fx-background-color: #6F4CBB;
  -fx-text-fill: #ffffff;
}

.btnIniciar:hover{
  -fx-text-fill: #431FA0;
  -fx-font-weight: bold;
  -fx-cursor: hand;
}

.btnIniciar:pressed{
  -fx-text-fill: #371897;
}

.btnIniciar:active{
  -fx-text-fill: #80AFF5;
}

.btnClose{
  -fx-background-color: #D5CBEB;
  -fx-background-radius: 5;
  -fx-text-fill: #371897;
  -fx-border-color: #6F4CBB;
  -fx-border-radius: 5;
}

.btnClose:hover{
  -fx-text-fill: #330099;
  -fx-font-weight: bold;
  -fx-cursor: hand;
}

.btnClose:pressed{
  -fx-background-color: #D5CBEB;
  -fx-text-fill: #330099;
}

.lblRecuperar{
  -fx-text-fill: #371897;
}

.anchor {
  -fx-background-image:url('../../../../imagenes/loading.gif');
}